/* Styles for small devices */

@media only screen and (max-width: 600px){
    html{
        font-size: 10px;
        scroll-behavior: smooth;
        --device-size: small;
    }

    #PortfolioLogo{
        height: 40px;
        width: 40px;
    }

    #PortfolioTitle{
        font-weight: bold;
        font-size: 1.6rem;
        margin-left: 1rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #NavMenuForMobile{
        margin-left: auto;
        margin-right: 0;
    }

    #MenuForMobileBtn{
        color: #fff;
        border: 1px solid #f07224;
        padding: 0.8rem;
        border-radius: 0.6rem;
        background-color: black;
    }

    #MenuForMobileBtn:hover{
        background-color: #ed8805;
        font-weight: bold;
        cursor: pointer;
    }

    #NavigationMenu{
        width: 50%;
        background-color: black;
        box-sizing: border-box;
        border: 2px solid #f07224;
        border-radius: 0.8rem;
        position: absolute;
        top: 70px;
        right: 15px;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 1rem;
        padding-top: 1rem;
    }

    .no-display{
        display: none;
    }

    .add-blur{
        filter: blur(4px);
    }

    #nabla{
        color: #ed8805;
        position: absolute;
        right: 20px;
        top: 53px;
        font-size: 1.6rem;
    }

    #NavigationMenu > li{
        font-size: 1.2rem;
        font-weight: normal;
        height: 3rem;
    }

    .nav-link{
        text-decoration: none;
        padding: 0.5rem;
        color: #fff;
        text-align: center;
    }

    .nav-link:hover{
        background-color: #ed8805;
        font-weight: bold;
    }

    #Home{
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        background-image: url("../Images/Home-Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 90vh;
        margin: 80px 0 0 0;
        padding: 0;
        border-top: 1px solid #ed8805;
        border-bottom: 1px solid #ed8805;
        flex-wrap: wrap;
    }

    #ProfileDescription{
        width: 100%;
        height: inherit;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
    }

    #HomeCoverGreetings{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 3.5rem;
        margin-block-start: 6rem;
        margin-block-end: 0;
    }

    #ShortDescription, #GetToKnowMe > p{
        font-size: 1.55rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: normal;
        line-height: 1.7rem;
    }

    #GetToKnowMe{
        width: 100%;
        height: inherit;
        box-sizing: border-box;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1.5rem;
    }

    #SkillListSection{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0.67em;
        margin-bottom: 0.1em;
    }

    #ContactMessage{
        width: 90%;
        height: fit-content;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.55rem;
        font-weight: normal;
        margin-top: 1.3rem;
        text-align: center;
        line-height: 1.7rem;
    }

    #ContactFormContainer{
        width: 90%;
        height: fit-content;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #d9dadb;
        border-radius: 0.3rem;
        margin-top: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}